<!-- {% extends "show.html" %} -->

<!-- {% block content %} -->

<!-- <form action="{% url 'search' %}" method="POST"> -->
    <!-- {% csrf_token %}  -->
    <!-- <input type="text" name="name"> -->
    <!-- <input type="submit" name="submit" value="Search"> -->
<!-- </form> -->


<!-- {% for result in results %} -->

    <!-- <p>{{result.name}}</p> -->

<!-- {% endfor %} -->

<!-- {% endblock %} -->
{% extends "C:/Naveen/employee/employee/templates/show.html" %}

{% block content %}
    <h2>Content for My App</h2>
    <p>Stuff etc etc.</p>
{% endblock content %}